* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 44px;
    height: 44px;
    background-image: url("../img/logo.png");
    background-size: contain;
    border-radius: 50%;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #17b582 !important;
}

.sticky {
    background-color: #1d362f;
    padding: 18px 0;
}

.sticky .logo {
    width: 44px;
    height: 44px;
    background-image: url("../img/logo.png");
}

.sticky .navbar-menu a {
    color: #fff;
}

.sticky .menu-toggler span {
    background-color: #fff;
}

#home {
    height: 100vh;
    min-height: 500px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: #fff;
}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 60px;
}

#home .content h1::after {
  content: "SpeedCode";
  animation: textanim 10s linear infinite;
}

section {
    padding: 100px 0;
    background: #1b1b1b;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding: 20px;
    color: #fff;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background: #17b582;
    border: 4px solid #1b1b1b;
    left: calc(50% - 12px);
    bottom: -7px;
}

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-pic {
    width: 200px;
    border-radius: 50%;
    margin-right: 100px;
}

.about-text {
    flex: 1;
    color: #fff;
}

.about-text h3 {
    margin: 10px 0;
    color: #eee;
    font-size: 16px;
}

.about-text h3 span:nth-child(1)::after,
.about-text h3 span:nth-child(2)::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
}

.about-text p {
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 26px;
}

.skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    width: calc(50% - 20px);
    margin: 15px 0;
}

.skill-info {
    display: flex;
    justify-content: space-between;
}

.skill-bar {
    height: 3px;
    background: #ddd;
    margin-top: 14px;
    position: relative;
}

.skill-bar::after {
    content: "";
    position: absolute;
    height: 6px;
    background: #17b582;
    bottom: 0;
}

.csharp::after {
    width: 85%;
}

.js::after {
    width: 80%;
}

.cpp::after {
    width: 15%;
}

.golang::after {
    width: 35%;
}

section.dark {
    background: #234038;
}

section.light-dark {
    background: #34544b;
}

section.dark .section-title {
    color: #f1f1f1;
}

section.dark .section-title::before {
    background: #f1f1f1;
}

section.dark .section-title::after {
    border: 4px solid #353b48;
}

section.light-dark .section-title {
    color: #f1f1f1;
}

section.light-dark .section-title::before {
    background: #f1f1f1;
}

section.light-dark .section-title::after {
    border: 4px solid #34544b;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #17b582;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    cursor: pointer;
    color: #fff;
    transition: .3s linear;
}

.service .icon {
    color: #17b582;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
}

.service h4 {
    font-size: 16px;
    margin-bottom: 6px;
}

.service a {
    color: #17b582;
}

.service:hover p {
    color: #fff;
}

.service:hover a {
    color: #111;
}

.service:hover {
    background: #17b582;
}

.service:hover .icon {
    color: #fff;
}

.projets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projet {
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #17b582;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    cursor: pointer;
    color: #fff;
    transition: .3s linear;
}

.projet .icon {
    color: #17b582;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
}

.projet h4 {
    font-size: 16px;
    margin-bottom: 6px;
}

.projet a {
    color: #17b582;
}

.projet:hover p {
    color: #fff;
}

.projet:hover a {
    color: #fff;
}

.projet:hover {
    background: #17b582;
}

.projet:hover .icon {
    color: #fff;
}

.logiciels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logiciel {
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #17b582;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    cursor: pointer;
    color: #fff;
    transition: .3s linear;
}

.logiciel .icon {
    color: #17b582;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
}

.logiciel h4 {
    font-size: 16px;
    margin-bottom: 6px;
}

.logiciel a {
    color: #17b582;
}

.logiciel:hover p {
    color: #fff;
}

.logiciel:hover a {
    color: #111;
}

.logiciel:hover {
    background: #17b582;
}

.logiciel:hover .icon {
    color: #fff;
}

@keyframes textanim {
    25% {
        content: "un développeur";
    }

    50% {
        content: "un designer";
    }

    75% {
        content: "un YouTubeur";
    }
}

.sm a {
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover {
    color: #17b582;
}

#home .buttons {
    margin-top: 60px;
}

#home .buttons a {
    display: inline-block;
    margin: 15px 30px;
    color: #17b582;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #17b582;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2) {
    background-color: #17b582;
    color: #fff;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.contact-info .item {
    width: calc(33% - 20px);
    height: 160px;
    background: #353b48;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s linear;
}

.contact-info i {
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.contact-info .item:hover {
    background: #17b582;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background: #353b48;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #fff;
}

.nameZone, .mailZone {
    max-width: calc(50% - 10px);
}

.message {
    min-height: 200px;
    resize: vertical;
}

.contact-form .btn {
    width: 100px;
    background: none;
    color: #17b582;
    font-size: 16px;
    border: 2px solid #17b582;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;
}

.contact-form .btn:hover {
    background: #17b582;
    color: #fff;
}

footer {
    background: url("../img/bg.jpg") no-repeat center;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.copyright {
    margin-bottom: 20px;
    font-size: 15px;
}

.copyright a {
    font-size: 16px;
    color: #17b582;
    font-weight: 500;
}

.goTop {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: #17b582;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    color: #fff;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

@media screen and (max-width: 980px) {
    .menu-toggler {
        display: block;
    }
	
	#home .content h1 {
		font-size: 30px;
		margin-bottom: 60px;
	}

    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #1d362f;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a {
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }

    .sticky .navbar-menu {
        background-color: #1d362f;
    }
    
    .navbar-menu.active{
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }

    .inner-width {
        max-width: 800px;
    }

    .about-pic {
        margin: 0 auto 60px;
    }

    .about-text {
        flex: 100%;
        text-align: center;
    }

    .service {
        width: calc(50% - 20px);
    }

    .projet {
        width: calc(50% - 20px);
    }

    .logiciel {
        width: calc(50% - 20px);
    }

    .contact-info .item {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .skill {
        width: 100%;
    }

    .service {
        width: 100%;
    }

    .projet {
        width: 100%;
    }

    .logiciel {
        width: 100%;
    }

    .nameZone, .mailZone {
        max-width: 100%;
    }
}